/* Navbar */
.navbar.navbar-expand-lg.center-logo,
.navbar-clone.navbar-expand-lg.center-logo {
    background-color: #198754;
}

/* Logo navbar */
.logo-light {
    height:65px;
    width:auto;
}

/* Texto header */
.header-text {
    text-align: left !important;
}

/* Botón "Saber más.." sección header */
.btn-green,
.btn-green:hover {
    background-color: #198754;
    color: #ffffff;
    border-color: #198754;
}

/* Logo cards */
.card-logo {
    height: 70px !important;
    width: auto !important;
    margin-bottom: 0.5rem !important;
}

/* Card azul IFE */
.card-ife-azul {
    background-color: #0169B3;
    color: #fff;
}

/* Card roja COF */
.card-cof-roja {
    background-color: #E83B4A;
    color: #fff;
}

/* Card morada RF */
.card-rf-morada {
    background-color: #54245D;
    color: #fff;
}

/* Card rosa VIDA */
.card-vida-rosa {
    background-color: #C399A6;
    color: #fff;
}

/* Texto cards */
.card-ife-azul .card-body,
.card-cof-roja .card-body,
.card-rf-morada .card-body,
.card-vida-rosa .card-body {
    display: grid;
    grid-template-rows: auto 1fr auto;      /* Disposición: [logo - contenido - link abajo] */
    row-gap: 1.2rem;                        /* Espacio entre los elementos: [logo - texto - link] */
    color: inherit;
    font-weight: lighter;
}

/* Link cards */
.card-ife-azul-link,
.card-cof-roja-link,
.card-rf-morada-link,
.card-vida-rosa-link {
    justify-self: start;
    color: #fff !important;

}

/* Botón "Saber más" sección objetivos */
.btn-obj {
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
}

/* Imagen AFE */
.afe-imagen {
    background-position: center 15% !important;
}

/* Imagen eventos */
.swiper-slide figure {
    height: 410px;
    overflow: hidden;
}

/* Fechas eventos */
.event-card .post-header {
    min-height: 90px;
}

/* Fechas noticias */
.new-card .post-header {
    min-height: 120px;
}

/* Botones carrusel */
.swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #198754;
}
.swiper-controls .swiper-pagination .swiper-pagination-bullet {
    background-color: #198754;
}

/* Alineación logos footer */
.ali-icon {
    display: flex;
    gap: 1px;
}
.ali-icon p {
    margin: 0;
}

/* Logos RRSS */
.rrss {
    margin-left: -3px;
}

/* Subrayado de palabras */
.underline-custom {
    text-decoration-line: underline;
    text-decoration-color: #198754;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

/* Scroll */
.progress-wrap svg.progress-circle path {
    stroke: #198754; !important;
}
.progress-wrap::after {
    color: #198754; !important;
}





