/* Logo navbar */
.logo-light, .logo-dark {
    height:65px;
    width:auto;
}

/* Topbar */
.ffe-topbar {
    padding: .45rem 0;
}
.ffe-toplink:hover {
    color:rgba(255,255,255,0.7) !important;
}
.navbar.navbar-clone.navbar-stick .ffe-topbar,
.navbar.navbar-clone.navbar-stick .ffe-topbar a,
.navbar.navbar-clone.navbar-stick .ffe-topbar span {
    color: #000 !important;
}
.navbar.navbar-clone.navbar-stick .ffe-topbar a:hover {
    color: #198754 !important;
}

.navbar.navbar-clone.navbar-stick .nav-link:hover {
    color: #198754 !important;
}
.navbar.navbar-clone.navbar-stick .dropdown-menu .dropdown-item:hover {
    background-color: #d5e1d5;
    color: #198754;
}
/* Hover de los links del dropdown */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: #198754;
    background-color: rgba(10, 122, 59, 0.08);
}

#offcanvas-info {
    background-color: #fff;
}
#offcanvas-info,
#offcanvas-info p,
#offcanvas-info a,
#offcanvas-info address {
    color: #60697b;
}
#offcanvas-info .widget-title {
    color: #000;
}
#offcanvas-info a {
    text-decoration: underline;
}
#offcanvas-info .social a {
    text-decoration: none;
}
#offcanvas-info a:hover {
    color: #198754;
}

/* Hacer más grande el offcanvas de info */
#offcanvas-info {
    width: 450px;
    max-width: 90vw;
}

/* HERO a pantalla completa */
.hero-full{
    height: 100vh;
}

/* Pantalla completa */
.hero-full .swiper-container,
.hero-full .swiper,
.hero-full .swiper-wrapper,
.hero-full .swiper-slide{
    height: 100%;
}
.hero-full .swiper-container.swiper-hero{
    height: 100% !important;
}
.hero-full .swiper-slide{
    min-height: 100% !important;
}

/* Color puntos imágenes "Quiénes somos" */
.bg-dot.primary{
    background-image: radial-gradient(#d5e1d5 2px, transparent 2.5px) !important;
}
/* Color puntos ticks */
.icon-list.bullet-soft-primary.bullet-bg i {
    background-color: #198754;
}
/* Color ticks */
.icon-list.bullet-soft-primary i {
    color: #fefefe;
}

/* Logos cards */
.card-logo-ife{
    height: 140px !important;
    width: auto !important;
    margin-bottom: 0.5rem !important;
}
.card-logo {
    height: 140px !important;
    width: auto !important;
    margin-bottom: 0.5rem !important;
}
/* Texto cards */
.card-ife .card-body,
.card-cof .card-body,
.card-rf .card-body,
.card-vida .card-body {
    display: grid;
    grid-template-rows: auto 1fr auto;      /* Disposición: [logo - contenido - link abajo] */
    row-gap: 1.2rem;                        /* Espacio entre los elementos: [logo - texto - link] */
    font-weight: lighter;
}
/* Link cards */
.card-ife-link,
.card-cof-link,
.card-rf-link,
.card-vida-link {
    justify-self: start;
}
.card-ife-link {
    color: #3f78e0 !important;
}
.card-cof-link {
    color: #ea4343 !important;
}
.card-rf-link {
    color: #bd3fe0 !important;
}
.card-vida-link {
    color: #f98d79 !important;
}
.border-soft-ife {
    border: solid 0.1px #ededed;
    border-bottom: #c1d5ff !important;
}
.border-soft-cof {
    border: solid 0.1px #ededed;
    border-bottom: #ff9797 !important;
}
.border-soft-rf {
    border: solid 0.1px #ededed;
    border-bottom: #ebc5ff !important;
}
.border-soft-vida {
    border: solid 0.1px #ededed;
    border-bottom: #ffddd6 !important;
}

/* Tamaño cards noticias */
.card-custom{
    min-height: 550px !important;
    width: 400px !important;
    font-size: 12px;
}
.card-custom h2 {
    font-size: 15px !important;
}

/* Tamaño imágen noticias */
.card-custom figure {
    height: 250px;
    overflow: hidden;
}

.card-custom-events {
    min-height: 380px !important;
    max-height: 380px !important;
    width: 400px !important;
}


.card-custom-events figure {
    height: 300px;
    margin: 0;
}

/* Permite que se vean los lados */
.swiper-container,
.swiper {
    overflow: visible;
}

/* Link noticias */
.card-news-link {
    color: #aab0bc !important;
}

/* Alineación logos footer */
.ali-icon {
    display: flex;
    gap: 1px;
}
.ali-icon p {
    margin: 0;
}

/* Logos RRSS */
.rrss {
    margin-left: -3px;
}

/* Subrayado de palabras */
.underline-custom {
    text-decoration-line: underline;
    text-decoration-color: #198754;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.btn-newsletter {
    background-color: #198754;
    color: #fff;
    transform: none !important;
}
.btn-newsletter:hover {
    background-color: #198754;
    color: #fff;
}


/* Links SOLO dentro del offcanvas abierto */
.navbar-collapse.offcanvas.offcanvas-nav.offcanvas-start.show .nav-link {
    color: #000 !important;
}
/* Dropdown items SOLO dentro del offcanvas abierto */
.navbar-collapse.offcanvas.offcanvas-nav .dropdown-item {
    color: #60697b;
}
@media (max-width: 1400px) {
    /* offcanvas  móvil */
    .navbar-collapse.offcanvas.offcanvas-nav.offcanvas-start .dropdown-menu {
        background: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
    }
    .offcanvas.offcanvas-start {
        width: 20rem !important;
    }
    .offcanvas {
        background-color: #fff;
    }
    /* Teléfono */
    .navbar .offcanvas-nav.offcanvas-start .offcanvas-footer {
        color: #60697b;
    }
    /* Email */
    .navbar .offcanvas-nav.offcanvas-start .offcanvas-footer a[href^="mailto"] {
        color: #60697b;
        text-decoration: underline;
    }
    /* Hover del email */
    .navbar .offcanvas-nav.offcanvas-start .offcanvas-footer a[href^="mailto"]:hover {
        color: #198754;
    }
    .navbar .offcanvas-nav.offcanvas-start .dropdown-menu .dropdown-item:hover {
        color: #198754;
    }
    .navbar
    .offcanvas-nav.offcanvas-start
    .nav-link.dropdown-toggle:hover {
        color: #198754 !important;
    }
    .navbar
    .offcanvas-nav.offcanvas-start
    .nav-link:not(.dropdown-toggle):hover {
        color: #198754 !important;
    }

}




/* Texto justificado */
.text-align-justify {
    text-align: justify;
}

/* Background personalizado */
.bg-custom {
    background-color: #d5e1d5 !important;
}

/* Botón personalizado */
.btn-custom {
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-color: #ffffff;

    /* Hover */
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-hover-color: #ffffff;

}


/* Color de selección de texto */
::selection {
    background-color: #d5e1d5;
    color: #fff;
}

/* Firefox necesita este selector aparte */
::-moz-selection {
    background-color: #d5e1d5;
    color: #fff;
}


/* Scroll */
.progress-wrap svg.progress-circle path {
    stroke: #198754; !important;
}
.progress-wrap::after {
    color: #198754; !important;
}
